<section data-ng-controller="HomeController">
	<div style="margin-top:10px" class="jumbotron text-center">
		<h1>Welcome to QuickSource!</h1>
	</div>
	<p class="lead">Here is how to navigate through QuickSource.<br>
1. Click "Sign Up" on the nav-bar above to create a new user.<br>
2. Sign up with your information, assigning yourself to either the student or professor role.<br> 
3. Click on "Browse Projects" on the navbar. You will be directed to a list of projects.<br>
4. Click on a project to view its details.<br>
5. You can opt into a project by clicking "I'm interested!"<br>
6. Navigate back to the "Browse Project" page through the nav-bar or the breadcrumbs.<br>
7. Click the "Create a New Project" button on the right.<br> 
8. Enter details to create a new project.<br> 
9. View your new project.<br> 
That's all folks.</p>
	<p>Also, we would greatly appreciate feedback on our project.</p> 
	<p>Here is the link.<br><a href="https://docs.google.com/forms/d/1WqWU-sW1mSOX9iyyjRbsFz8hunRXNYDnBxgAigczrGU/viewform">Feedback Form</a></p>
</section>