<section data-ng-controller="PostsController">
    <div class="container">
        <div class="page-header">
            <h1>Create a New Project</h1>
        </div>
        <div class="col-md-3">
        </div>
        <div class="col-md-6">
            <form class="form-horizontal" data-ng-submit="create()" novalidate>
                <div class="form-group">
                    <label for="title">Project Title</label>
                    <input type="text" class="form-control" id="title" data-ng-model="fields.title">
                </div>
                <div class="form-group">
                    <label for="abstract">Abstract</label>
                    <textarea type="text" class="form-control" id="abstract" data-ng-model="fields.abstract" rows="3"></textarea>
                </div>
                <div class="form-group">
                    <label for="description">Detailed Description</label>
                    <textarea type="text" class="form-control" id="description" data-ng-model="fields.description" rows="8"></textarea>
                </div>
                <div class="form-group">
                    <label for="categories">Categories (select all that apply)</label>
                    <select multiple="yes" id="categories"  name="categories" class="form-control" data-ng-model="fields.categories">
                        <option value="Arts"> Arts </option>
                        <option value="Sciences"> Sciences </option>
                        <option value="Medicine"> Medicine </option>
                        <option value="Business"> Business </option>
                        <option value="Law"> Law </option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="location">Location (zip code)</label>
                    <input type="text" class="form-control" id="location" data-ng-model="fields.location">
                </div>
                <button type="submit" class="btn btn-default">Submit</button>
                <div data-ng-show="error" class="alert alert-danger" role="alert">
                    <strong data-ng-bind="error"></strong>
                </div>
            </form>
        </div>
        <div class="col-md-3">
        </div>
    </div>
</section>
