<section data-ng-controller="BrowseController">
	<div class="container">
		<h3>Browse Projects</h3>
		<div class="row">
			<div class="col-md-8">
				<div ng-repeat="post in posts | orderBy: '-updated'">
					<div class="panel panel-default">
						<div class="panel-heading">
							<h3 class="panel-title">Panel title</h3>
						</div>
						<div class="panel-body">
							Panel content
						</div>
					</div>
  					{{post.title}} - upvotes: {{post.upvotes}}
				</div>
			</div>
			<div class="col-md-4">
			</div>
		</div>
	</div>
</section>