<section class="row" data-ng-controller="ProfileController" data-ng-init="">

    <div class="row">
        <div class="col-md-6">
            <h4>Courses</h4>
        </div>
        <div class="col-md-6">
            <button ng-click="addNewCourse()" class="btn btn-large btn-block btn-primary">Add New Course</button>

        </div>
    </div>
    <div ng-repeat="choice in coursefield" >
        <div class="panel panel-default">
            <div class="panel-body">
                <button type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <div class="row">
                </div>
                <div class="form-group col-md-6">
                    <label for="coursename">Course Name</label>
                    <input type="text" id="coursename" name="coursename" data-ng-model="user.education.institution" placeholder="Course Name" class="form-control">
                </div>
                <div class="form-group col-md-6">
                    <label for="courseno">Course Number</label>
                    <input type="text" id="courseno" name="courseno" placeholder="Course Number" class="form-control">
                </div>
            </div>
        </div>
    </div>
</section>
