<section class="row" data-ng-controller="ProfileController" data-ng-init="profile()">
	<div class="row">
		<div class="col-md-2">
		</div>
		<div class="col-md-8">
			<h2>Edit Your Professional Profile</h2>
			<h4>{{profile.headline}}</h4>
			<form name="headlineform" data-ng-submit="updateHead()" autocomplete="false">
			<hr>
				<div class="form-group">
					<div class="input-group">
						<input type="text" id="headline" name="headline" class="form-control" data-ng-model="profile.headline" placeholder="Headline">
						<span class="input-group-btn">
							<button class="btn btn-large btn-primary" type="submit">Update</button>
						</span>
					</div>
                </div>
				</form>
            <hr>
            <h4>Documents</h4>
            <div>    
                <div data-ng-init="">
                	<div class="form-group col-md-6">
                		<div class="btn btn-large btn-block btn-default" ng-file-select ng-model="profilePic">Select Profile Picture</div>
                	</div>
                	<div class="form-group col-md-6">
                		<div class="btn btn-large btn-block btn-default" ng-file-select ng-model="profileResume">Select Profile Resume</div>
                	</div>
                </div>
            </div>
            <hr>
            <hr>
			<h4>Education</h4>
			<div ng-repeat="choice in edufield">
				<div class="panel panel-default">
					<div class="panel-body">
						<div class="form-group col-md-6">
							<label for="institution">School</label>
							<input type="text" id="institution" name="institution" data-ng-model="user.education.institution"placeholder="School" class="form-control">
						</div>
						<div class="form-group col-md-6">
							<label for="major">Majors</label>
							<input type="text" id="major" name="major" placeholder="Majors" class="form-control">
						</div>
						<div class="form-group col-md-4">
							<label for="startdate">Start Date</label>
							<input type="date" id="startdate" name="startdate" placeholder="Start Date" class="form-control">
						</div>
						<div class="form-group col-md-4">
							<label for="enddate">Graduation Date</label>
							<input type="date" placeholder="Graduation Date" class="form-control">
						</div>
						<div class="form-group col-md-4">
							Currently Attending?<input type="checkbox" class="form-control">
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6">
					<button ng-click="addNewEducation()" class="btn btn-large btn-block btn-primary">Add New Education</button>
				</div>
				<div class="col-md-6">
					<button ng-click="" class="btn btn-large btn-block btn-danger">Delete</button>
				</div>
			</div>
			<hr>
			<h4>Positions</h4>
			<div ng-repeat="choice in posfield" >
				<div class="panel panel-default">
					<div class="panel-body">
						<div class="form-group col-md-6">
							<label for="institution">Company or Institution</label>
							<input type="text" id="institution" name="institution" data-ng-model="user.education.institution" placeholder="Institution" class="form-control">
						</div>
						<div class="form-group col-md-6">
							<label for="position">Position</label>
							<input type="text" id="position" name="position" placeholder="Position" class="form-control">
						</div>
						<div class="form-group col-md-4">
							<label for="startdate">Start Date</label>
							<input type="date" id="startdate" name="startdate" placeholder="Start Date" class="form-control">
						</div>
						<div class="form-group col-md-4">
							<label for="enddate">End Date</label>
							<input type="date" placeholder="End Date" class="form-control">
						</div>
						<div class="form-group col-md-4">
							Currently Position?<input type="checkbox" class="form-control">
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6">
					<button ng-click="addNewPosition()" class="btn btn-large btn-block btn-primary">Add New Position</button>
				</div>
				<div class="col-md-6">
					<button ng-click="" class="btn btn-large btn-block btn-danger">Delete</button>
				</div>
			</div>
			<hr>
			<h4>Courses</h4>
			<div ng-repeat="choice in coursefield" >
				<div class="panel panel-default">
					<div class="panel-body">
						<div class="form-group col-md-6">
							<label for="coursename">Course Name</label>
							<input type="text" id="coursename" name="coursename" data-ng-model="user.education.institution" placeholder="Course Name" class="form-control">
						</div>
						<div class="form-group col-md-6">
							<label for="courseno">Course Number</label>
							<input type="text" id="courseno" name="courseno" placeholder="Course Number" class="form-control">
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6">
					<button ng-click="addNewCourse()" class="btn btn-large btn-block btn-primary">Add New Course</button>
				</div>
				<div class="col-md-6">
					<button ng-click="" class="btn btn-large btn-block btn-danger">Delete</button>
				</div>
			</div>
			<hr>
			<h4>Publications</h4>
			<div ng-repeat="choice in pubfield" >
				<div class="panel panel-default">
					<div class="panel-body">
						<div class="form-group col-md-6">
							<label for="coursename">Publication Name</label>
							<input type="text" id="pubname" name="pubname" data-ng-model="user.education.institution" placeholder="Publication Name" class="form-control">
						</div>
						<div class="form-group col-md-6">
							<label for="courseno">Publication Authors</label>
							<input type="text" id="pubauth" name="puthauth" placeholder="Publication Authors" class="form-control">
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6">
					<button ng-click="addNewPublication()" class="btn btn-large btn-block btn-primary">Add New Publication</button>
				</div>
				<div class="col-md-6">
					<button ng-click="" class="btn btn-large btn-block btn-danger">Delete</button>
				</div>
			</div>
			<hr>
		</div>
		<div class="col-md-2">
		</div>
	</div>
</section>
