<section class="row" data-ng-controller="ProfileController" data-ng-init="">

    <div class="row">
        <div class="col-md-6">
            <h4>Education</h4>
        </div>
        <div class="col-md-6">
            <button ng-click="addNewEducation()" class="btn btn-large btn-block btn-primary">Add New Education</button>
        </div>
    </div>
    <div ng-repeat="choice in edufield">
        <div class="panel panel-default">
            <div class="panel-body">
                <button type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <div class="row">
                </div>
                <div class="form-group col-md-6">
                    <label for="institution">School</label>
                    <input type="text" name="institution" data-ng-model="user.education.institution"placeholder="School" class="form-control">
                </div>
                <div class="form-group col-md-6">
                    <label for="major">Majors</label>
                    <input type="text" id="major" name="major" placeholder="Majors" class="form-control">
                </div>
                <div class="form-group col-md-4">
                    <label for="startdate">Start Date</label>
                    <input type="date" id="startdate" name="startdate" placeholder="Start Date" class="form-control">
                </div>
                <div class="form-group col-md-4">
                    <label for="enddate">Graduation Date</label>
                    <input type="date" placeholder="Graduation Date" class="form-control">
                </div>
                <div class="form-group col-md-1">
                    Currently Attending?<input type="checkbox" class="form-control">
                </div>
            </div>
        </div>
    </div>

</section>
