<section class="row" data-ng-controller="ProfileController" data-ng-init="">

    <div class="row">
        <div class="col-md-6">
            <h4>Publications</h4>

        </div>
        <div class="col-md-6">
            <button ng-click="addNewPublication()" class="btn btn-large btn-block btn-primary">Add New Publication</button>

        </div>
    </div>
    <div ng-repeat="choice in pubfield" >
        <div class="panel panel-default">
            <div class="panel-body">
                <button type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <div class="row">
                </div>
                <div class="form-group col-md-6">
                    <label for="coursename">Publication Name</label>
                    <input type="text" id="pubname" name="pubname" data-ng-model="user.education.institution" placeholder="Publication Name" class="form-control">
                </div>
                <div class="form-group col-md-6">
                    <label for="courseno">Publication Authors</label>
                    <input type="text" id="pubauth" name="puthauth" placeholder="Publication Authors" class="form-control">
                </div>
            </div>
        </div>
    </div>

</section>
